[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	pager = delta
	autocrlf = false
	eol = lf
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[delta]
	features = catppuccin-mocha
	navigate = true
	line-numbers = true
	dark = true
[merge]
	conflictstyle = diff3
[diff]
    tool = difftastic
    colorMoved = default
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    diff = delta
    show = delta
    difftool = true
[alias]
	# Compact and readable log
	l = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	# Log with list of changed files for each commit
	ll = log --stat --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit
	# difftastic
	dft = difftool
[init]
	defaultBranch = main
[include]
  path = ~/.gitconfig.local
  path = ~/.config/delta/themes/catppuccin.gitconfig
